$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


@import "./top-navbar.sass";
@import "./search-navbar.sass";
@import "./navbar.sass";
@import "./info.sass";
@import "./utility.sass";

.main-container {
  width: 100%;
  max-width: 1400px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  margin: 0 auto;

  .filter-input {
    width: 100%;
    border-radius: 0;
  }


  .letter-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    .filter-letter {
      font-weight: 400;
      font-size: 1.2em;
      width: 24px;
      height: 24px;
      color: #A7A7A7;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        border-radius: 50%;
        background-color: #4084A9;
        color: white;
      }

    }
  }

  .email-icon {
    height: 42px;
    width: 44px;
    background: url(../images/sprite.png) -291px -1px;
    cursor: pointer;
  }

  .tooltip {
    border-radius: 0;
  }

  .member-list-container {
    position: relative;

    .member-container {
      margin-top: 3em;

      .row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }



      .member-avatar {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        border: 2px solid #CCCCCC;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        .member-avatar-overlay {
          width: 100%;
          height: 43%;
          background: red;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background-color: #CCCCCC;

          display: flex;
          justify-content: center;
          align-items: center;

          div {
            width: 13px;
            height: 13px;
            background-color: white;


            &.active-member-checkbox {
              background: url(../images/sprite.png) -453px -4px;
              background-color: white;
            }

          }


        }



        img {
          width: 100%;
          height: 100%;
        }


      }

      .active-member {
        border-color: #218074 !important;
        background-color: #218074 !important;
      }

      .member-info {
        margin-left: .75em;


        h4 {
          margin: 0;
          font-size: 1.2em;
          color: #377BB5;
        }
      }
    }
  }

  .load-more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5.5em;
    border-radius: 0;
    width: 13em;
    height: 2.8em;
    text-align: center;
    background-color: #218074;
    color: white;
    border: 0;
    margin-bottom: .5em;

    &:hover {
      opacity: .9;
    }
  }

}
