<section class="main-container ptop20 pbot20" ng-show="activeSearchBar">
  <div class="input-group">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Content <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Action1</a></li>
        <li><a href="#">Action2</a></li>
      </ul>
    </div><!-- /btn-group -->
    <input type="text" class="form-control" aria-label="..." placeholder="Search for...">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" >Go!</button>
    </div><!-- /btn-group -->
  </div><!-- /input-group -->
</section>
